body {
    min-height: 75rem;
    padding-top: 2.5em;
}

.product-price {
    color: #B12704 !important;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar-nav {
    display: inline-block;
}

.navbar-nav > li {
    display: inline-block;
    margin-left : 0.25em;
}