---
layout: default
---
{% assign num_collections = site.collections | size %}
{% assign shuffled_collections = site.collections | sample: num_collections %}

<div class="home py-4 py-md-5">
{% for collection in shuffled_collections %}
  {% if collection.label != "posts" %}
  <h4 class="panel-title product-brand">{{ collection.label | upcase | replace: "_", " " }}</h4>
  <div class="row">
    {% for product in collection.docs %}
    <div class="col-6 col-md-3 col-lg-2 product-item">
      <a href="{{ product.url | prepend: site.baseurl }}" class="index-anchor">
        <div class="card">  
          <div class="image">
            {% if product.image %}
            <img class="card-img-top lazyload" data-src="{{product.image | relative_url}}" alt="{{product.name}}" loading=“lazy” style="max-width: 150px; height: auto; display: block; margin-left: auto; margin-right: auto;">
            {% endif %}
            <div class="card-body">
              <div class="card-product-name" hidden>{{ product.name }}</div>
              <h6 class="card-title panel-title" style="height: 4.5em; margin-bottom: 0.5em;">{{ product.name | truncate: 40 }}</h6>
              <div><span class="product-price">{{ product.price }}</span></div>
              <!-- <p>{{ product.excerpt | strip_html | strip_newlines | truncate: 150 }}</p> -->
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <hr class="product-brand" />
  {% endif %}
{% endfor %}
</div> 
    
  <div class="row justify-content-center">
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="page-item active">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active">
                <span class="page-link">{{ page }}</span>
              </li>
            {% elsif page == 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li class="page-item active">
              <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="page-item">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
          </ul>
        {% endif %}
    </div>
  </div>

</div>