<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:image" content={{"/img/gauluoi.png" | absolute_url}} />
  <meta property="og:title" content="Gấu Lười | Sống khỏe kiểu Úc" />
  <meta property="og:description" content="Gấu Lười là hệ thống trực tuyến đặt hàng và sản phẩm liên quan đến sức khỏe nhập khẩu từ Úc." />
  <meta property="og:type" content="website" />

  {% seo %}

  <link rel="icon" type="image/png" href="/img/koala_no_bg.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href={{"/css/main.css" | relative_url}} /> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href={{"/css/custom.css" | relative_url}} /> 
</head>
