<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" href={{"/" | relative_url}} style="text-decoration: none; font-weight: normal;">G&#7845;u L&#432;&#7901;i</a>
  <a class="navbar-link" href={{"/shopping-cart/" | relative_url}}><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>&#160;<span class="badge badge-danger" id="badge-total-items"></span></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href={{"/about/" | relative_url}} >About</a>
      </li>
    </ul>
  </div>
</nav>
