<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-link mr-auto" href={{"/" | relative_url}} style="text-decoration: none; font-weight: normal;"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    <ul class="navbar-nav ml-auto">
      {% if page.url == "/" %}
      <li class="nav-item">
        <input class="navbar-link form-control" style="max-width: 12em;" id="input-search" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" onkeyup="filterFunction()" onsearch="filterFunction()"/>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="navbar-link" href={{"/shopping-cart/" | relative_url}}><i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>&#160;<span class="badge badge-danger" id="badge-total-items" style="position: relative; margin-left: -15px; margin-top: -21px;"></span></a>
      </li>
    </ul>
  </div>
</nav>