<div class="col-md-4 mt20">
  <div class="image">
    {% if page.image %}
    <img
      style="max-width: 200px; height: auto; display: block; margin-left: auto; margin-right: auto;"
      class="rounded"
      src="{{page.image | relative_url}}"
      alt="{{page.name}}"
    />
    {% endif %}
  </div>

  <div class="mt10 recent">
    <ul>
      <li><h4>Price: <span style="color: #B12704!important;">{{page.price}}k &#8363;</span></h4></li>
      <li>
        <label for="quantity">Quantity:</label>
        <input type="number" id="product-{{page.identifier}}-quantity" name="quantity" value="1" min="1" max="100" style="text-align: right;">
      </li>
      <li>
        <button type="button" class="btn btn-block btn-outline-primary" onClick="add2cart({{page.identifier}}, '{{page.name}}', {{page.price}})">Add to Cart</button>
      </li>
    </ul>
  </div>
  <br />
</div>

