<div class="col-md-4 mt20">
  <div class="image">
    {% if page.image %}
    <img
      style="max-width: 200px; height: auto; display: block; margin-left: auto; margin-right: auto;"
      class="rounded"
      src="{{page.image | relative_url}}"
      alt="{{page.name}}"
    />
    {% endif %}
  </div>

  <div class="mt10 recent bg-light rounded">
    <ul>
      <li><h5>Gi&aacute;: <span class="product-price">{{page.price}}k &#8363;</span></h5></li>
      <li>
        <div class="form-group row">
          <label for="quantity" class="col-sm-4 col-form-label">S&#7889; l&#432;&#7907;ng: </label>
          <div class="col-sm-4">
            <input class="form-control" type="number" id="product-{{page.identifier}}-quantity" name="quantity" value="1" min="1" max="100" style="text-align: right;">
          </div>
        </div>
      <li>
        <button type="button" class="btn btn-block btn-primary" onClick="add2cart({{page.identifier}}, '{{page.name}}', {{page.price}})">Thêm vào giỏ hàng</button>
      </li>
    </ul>
  </div>
  <br />
</div>

