---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include navigation.html %}

    {% if page.url != "/" %}
    <div class="container">
    {% else %}
    <div class="container bg-light">
    {% endif %}
      <div class="wrapper">{{ content }}</div>
    </div>

    {% include footer.html %}

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- lazysizes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.0/lazysizes.min.js" integrity="sha512-JrL1wXR0TeToerkl6TPDUa9132S3PB1UeNpZRHmCe6TxS43PFJUcEYUhjJb/i63rSd+uRvpzlcGOtvC/rDQcDg==" crossorigin="anonymous" async></script>

    <!-- local storage card -->
    <script type="text/javascript" src="{{ "/js/cart-localstorage.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/js/shopping_cart.js?v=" | append: site.github.build_revision | relative_url }}"></script>

    <script type="text/javascript" src="/js/filter_products.js"></script>

    <!-- format price -->
    <script type="text/javascript">
      var priceElements = document.getElementsByClassName('product-price');
      for (var i = 0; i < priceElements.length; i++) {
        parsedPrice = new Intl.NumberFormat('vi-VI').format(parseInt(priceElements[i].innerHTML));
        priceElements[i].innerHTML = parsedPrice + "k &#8363;"
      }
    </script>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(){
          shuffleDiv();
      });
      function shuffleDiv() {
        var container = document.getElementById("home-page");
        var elementsArray = Array.prototype.slice.call(container.getElementsByClassName('shuffleMe'));
        elementsArray.forEach(function(element){
          container.removeChild(element);
        });
        shuffleArray(elementsArray);
        elementsArray.forEach(function(element){
          container.appendChild(element);
        });
      }

      function shuffleArray(array) {
          for (var i = array.length - 1; i > 0; i--) {
              var j = Math.floor(Math.random() * (i + 1));
              var temp = array[i];
              array[i] = array[j];
              array[j] = temp;
          }
          return array;
      }
    </script>
    
    {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>
</html>
