---
layout: default
---

<div class="row">
  <div class="col-md-4 mt20"></div>
  <div class="col-md-8 mt20">
    <header class="post-header">
      <h4>{{page.name}}</h4>
    </header>
  </div>
</div>
<div class=row>
  {% include sidebar.html %}
  <div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-content" itemprop="articleBody">{{ content }}</div>
    </article>

    <div class="">
      {% if site.disqus-shortname %} {% include disqus.html %} {% endif %}
    </div>
  </div>
</div>

{% include fb-script.html %}
